* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  background: url(1.png) no-repeat;
  opacity: 0.9;
  background-size: cover;
  position: relative;
  z-index: 4;
  height: 810px;
}
.header .h11 {
  font-size: 48px;
  color: white;
  text-align: center;
  opacity: 1;
  margin-top: -610px;
  position: relative;
  z-index: 4;
}
.header .all {
  color: #ffffff;
  position: relative;
  z-index: 4;
  margin-top: 42px;
  font-size: 27px;
  text-align: center;
}
.header .block2 {
  display: inline;
  position: relative;
  top: -50px;
  margin-left: 220px;
}
.header .block3 {
  border: 1px solid white;
  border-top: none;
  width: 252px;
  height: 161px;
  display: inline-block;
  position: relative;
  z-index: 4;
  margin-left: 47px;
  margin-top: 130px;
}
.header .block3:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1px;
  width: 110px;
  margin-left: -10px;
  margin-top: -10px;
  background: white;
}
.header .block3:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1px;
  width: 99px;
  margin-left: 143px;
  margin-top: -10px;
  background: #ffffff;
}
.header .favorite {
  margin-left: 114px;
  margin-top: -14px;
}
.header .h111 {
  text-align: center;
  font-size: 55px;
  margin-top: 10px;
  color: white;
}
.header .h3 {
  text-align: center;
  margin-top: 5px;
  color: white;
  font-size: 19px;
}
.block {
  height: 810px;
  background: #747696;
  opacity: 0.6;
  position: relative;
  z-index: 2;
}
.we ul {
  margin-top: 40px;
  margin-left: 500px;
}
.we .a {
  text-decoration: none;
  color: black;
  display: inline;
}
.we .a:hover {
  color: #FFB54B;
}
.we li {
  list-style: none;
  display: inline;
  padding-left: 50px;
  font-size: 23px;
}
.block5 {
  border: 1px solid #c7c7c7;
  width: 100%;
  height: 2px;
  margin-top: 30px;
}
.container {
  width: 1140px;
  height: 1000px;
  margin: 0 auto;
}
.container .block6 {
  height: 900px;
}
.container .block6:after {
  content: " ";
  top: 10px;
  left: 10px;
  height: 247px;
  width: 580px;
  background: url(we.png) no-repeat;
  margin-left: 413px;
  margin-top: 991px;
  position: absolute;
  z-index: 2;
  opacity: 0.2;
}
.container .h101 {
  margin-top: 200px;
  font-size: 48px;
}
.container .osnova {
  margin-left: 378px;
  margin-top: -126px;
  position: absolute;
  z-index: 4;
  opacity: 0.7;
  font-size: 21px;
  line-height: 28px;
}
.container .block7 {
  margin-top: 270px;
  margin-left: 0px;
}
.container .rocket {
  width: 30px;
  height: 58px;
}
.container .h5 {
  margin-top: 20px;
}
.container .you {
  opacity: 0.7;
  line-height: 20px;
  margin-top: 10px;
}
.container .block8 {
  display: inline-block;
  vertical-align: top;
}
.container .block9 {
  display: inline-block;
  margin-left: 40px;
}
.container .block10 {
  border: 1px solid #f6ae48;
  background: #f6ae48;
  width: 350px;
  height: 320px;
  margin-left: 760px;
  margin-top: -255px;
  display: inline-block;
}
.container .serd {
  width: 54px;
  height: 44px;
  margin: 20px;
}
.container .h55 {
  color: white;
  margin-left: 20px;
  margin-top: -3px;
}
.container .h56 {
  color: white;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 20px;
}
.container .block11 {
  border: 2px solid white;
  width: 132px;
  height: 30px;
  margin-left: 20px;
  margin-top: -25px;
}
.container .ot {
  color: white;
  text-align: center;
  margin-top: 6px;
}
.container .right {
  width: 20px;
  height: 20px;
  margin-left: 311px;
  margin-top: 30px;
}
.block12 {
  position: relative;
  z-index: 4;
  margin-top: -100px;
}
.block12 .block13 {
  background-color: white;
  opacity: 0.7;
  position: relative;
  z-index: 2;
}
.block12 .kredo {
  margin-left: -10px;
  margin-top: -450px;
  text-align: center;
  color: white;
  font-size: 50px;
}
.block12 .want {
  margin-top: 50px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.block12 .img {
  width: 100%;
  height: 566px;
}
.block12 .block14 {
  border: 1px solid #f6ae48 ;
  background: #f6ae48;
  width: 600px;
  height: 527px;
  margin-top: 160px;
  position: absolute;
  z-index: 4;
}
.block12 .block14:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 293px;
  width: 400px;
  background: url(settings48@1X.png) no-repeat;
  margin-left: -104px;
  opacity: 0.5;
}
.block12 .block14:after {
  content: " ";
  position: absolute;
  z-index: 2;
  top: 50px;
  left: -20px;
  height: 180px;
  width: 110px;
  background: url(cog2@1X.png) no-repeat;
  background-size: cover;
  margin-left: 514px;
  opacity: 0.5;
  margin-top: -50px;
}
.block12 .block14 .razrabotka {
  font-size: 50px;
  color: white;
  text-align: center;
  margin-top: 135px;
  margin-left: -100px;
}
.block15 {
  display: inline-block;
  width: 333px;
  height: 300px;
  padding-left: 15px;
  position: relative;
  vertical-align: top;
}
.block15:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1px;
  width: 285px;
  background: white;
  margin-top: 158px;
  margin-left: 40px;
  z-index: 4;
}
.block15:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  background: url(3.png) no-repeat;
  background-size: cover;
  margin-left: 300px;
  margin-top: 230px;
}
.first {
  width: 333px;
  height: 300px;
}
.block16 {
  margin-left: 165px;
  margin-top: 430px;
  position: relative;
  z-index: 4;
}
.second {
  margin-top: -305px;
  margin-left: 0px;
  opacity: 0.8;
  width: 333px;
  height: 300px;
  vertical-align: top;
}
.second1 {
  margin-top: -305px;
  margin-left: 0px;
  opacity: 0.8;
  width: 333px;
  height: 300px;
  vertical-align: top;
}
.second2 {
  margin-top: -305px;
  margin-left: 0px;
  opacity: 0.8;
  width: 333px;
  height: 300px;
  vertical-align: top;
}
.landing {
  margin-top: -265px;
  margin-left: 40px;
  font-size: 45px;
  position: absolute;
  color: white;
}
.block17 {
  border: 2px solid #00BAE9;
  width: 174px;
  height: 40px;
  position: absolute;
  margin-top: -90px;
  margin-left: 40px;
  vertical-align: top;
}
.block18 {
  display: inline-block;
  width: 333px;
  height: 300px;
  padding-left: 15px;
  vertical-align: top;
  margin-left: 50px;
}
.block18:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1px;
  width: 285px;
  background: white;
  margin-top: 158px;
  margin-left: 418px;
  z-index: 4;
}
.block18:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  background: url(right.png) no-repeat;
  margin-left: 681px;
  margin-top: 230px;
}
.block19 {
  display: inline-block;
  width: 333px;
  height: 300px;
  padding-left: 15px;
  margin-left: 50px;
}
.block19:before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 1px;
  width: 285px;
  background: white;
  margin-top: 158px;
  margin-left: 799px;
  z-index: 4;
}
.block19:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  height: 60px;
  width: 60px;
  background: url(right.png) no-repeat;
  margin-left: 1070px;
  margin-top: 230px;
}
.blue {
  width: 60px;
  height: 60px;
}
.to {
  text-align: center;
  color: white;
  margin-top: 10px;
}
.block20 {
  border: 2px solid #C79C00;
  width: 174px;
  height: 40px;
  position: absolute;
  margin-top: -90px;
  margin-left: 40px;
}
.block21 {
  border: 2px solid #309802;
  width: 174px;
  height: 40px;
  position: absolute;
  margin-top: -90px;
  margin-left: 40px;
}
.block22 {
  height: 550px;
  margin-top: 30px;
  margin-left: -90px;
}
.be {
  margin-left: 200px;
  margin-top: 200px;
  color: #DFDFDF;
  font-size: 60px;
  letter-spacing: 4px;
}
.perv {
  margin-left: 260px;
  margin-top: -50px;
}
.give {
  margin-left: 260px;
  margin-top: 10px;
  opacity: 0.7;
  line-height: 30px;
}
.google {
  margin-left: 967px;
  position: absolute;
  margin-top: -250px;
  width: 140px;
  height: 140px;
}
.fon {
  margin-left: 967px;
  margin-top: -90px;
  width: 140px;
  height: 140px;
}
.block23 {
  height: 1000px;
  position: relative;
}
.block24 {
  width: 100%;
  height: 100px;
  border: 1px solid #2B2E64;
  background: #2B2E64;
}
.project {
  text-align: center;
  font-size: 88px;
  color: white;
  margin-top: auto;
  opacity: 0.6;
}
h2.our_project {
  color: white;
  font-size: 43px;
  margin-top: -80px;
  margin-left: 508px;
}
.sa {
  width: 50%;
  height: 426px;
  display: inline-block;
  vertical-align: top;
}
.d {
  display: inline-block;
  width: 50%;
  height: 426px;
  position: absolute;
  top: 100px;
  left: 674px;
}
.asc {
  width: 25%;
  height: 335px;
  margin-top: 426px;
  margin-left: -680px;
}
.logos {
  border: 1px solid white;
  width: 25%;
  height: 335px;
  margin-top: -340px;
  margin-left: 330px;
}
.logos .orange {
  width: 300px;
  height: 300px;
  opacity: 0.5;
  margin: 17px auto;
  position: relative;
  background-color: orange;
}
.logos .orange .rkb {
  text-transform: uppercase;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 100px;
  left: 80px;
}
.logos .orange .autoservices {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 157px;
  left: 67px;
}
.logos .logo2 {
  width: 250px;
  height: 250px;
  display: block;
  margin: -285px auto;
}
.block25 {
  height: 100px;
  border: 1px solid #2B2E64;
  background: #2B2E64;
  margin-top: -139px;
  position: absolute;
  width: 100%;
}
.button {
  width: 200px;
  height: 41px;
  border-radius: 12px;
  margin-left: 576px;
  margin-top: 28px;
  opacity: 0.5;
  border: none;
}
.butt {
  position: absolute;
  margin-left: 611px;
  font-size: 25px;
  color: white;
  margin-top: -38px;
}
.apple_komp .third_komp {
  width: 25%;
  height: 335px;
  position: absolute;
  top: 526px;
  right: 349px;
}
.four_komp {
  width: 26%;
  height: 335px;
  position: absolute;
  top: 526px;
  right: 0px;
}
.adaptate {
  min-height: 700px;
  padding-top: 155px;
}
.adaptate .adaptate_small {
  font-size: 65px;
  opacity: 0.1;
  margin-left: 149px;
}
.adaptate .adaptive_text {
  margin-left: 193px;
  margin-top: -50px;
  font-size: 30px;
  text-transform: uppercase;
}
.adaptate .big_text {
  font-size: 24px;
  margin-left: 192px;
  margin-top: 20px;
  line-height: 40px;
  color: #000000;
}
.adaptate .phone_img {
  position: relative;
}
.adaptate .phone_img .iphone_img {
  width: 120px;
  height: 200px;
  position: absolute;
  top: -212px;
  left: 759px;
}
.adaptate .phone_img .ipad_img {
  width: 200px;
  height: 300px;
  position: absolute;
  top: -308px;
  left: 915px;
}
.adaptate .phone_img .macbook_img {
  width: 140px;
  height: 370px;
  position: absolute;
  top: -379px;
  left: 1149px;
}
.trade_in {
  min-height: 677px;
  background: url(12.jpg) no-repeat;
  background-size: cover;
  position: relative;
  z-index: 4;
}
.trade_in .trade_opacity {
  min-height: 677px;
  background-color: black;
  position: relative;
  z-index: 2;
  opacity: 0.5;
}
.trade_in h2.trade_rectangle {
  font-size: 48px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  z-index: 4;
  top: 65px;
  left: 555px;
}
.trade_in .program {
  position: relative;
  z-index: 4;
  margin-top: -513px;
  margin-left: 92px;
}
.trade_in .program .program1 {
  display: inline-block;
}
.trade_in .program .program1 .program1_block {
  width: 360px;
  height: 287px;
  margin-top: 15px;
}
.trade_in .program .program1 .program1_block .program1_big {
  font-size: 18px;
  color: white;
  line-height: 28px;
  opacity: 0.9;
}
.trade_in .program .program1 h2.program1_text {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 25px;
  left: 84px;
}
.trade_in .program .rabota {
  display: inline-block;
}
.trade_in .program .rabota .magni {
  position: absolute;
  top: -1px;
}
.trade_in .program .rabota .rabota_text {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 25px;
  left: 454px;
}
.trade_in .program .rabota .rabota_block {
  width: 360px;
  height: 287px;
  position: absolute;
  top: 66px;
  left: 413px;
}
.trade_in .program .rabota .rabota_block .rabota_big {
  font-size: 17px;
  color: white;
  line-height: 28px;
  opacity: 0.9;
}
.trade_in .program .bril {
  display: inline-block;
}
.trade_in .program .bril .diamond {
  position: absolute;
  top: 17px;
  left: 820px;
}
.trade_in .program .bril .bril_text {
  text-transform: uppercase;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 25px;
  left: 904px;
}
.trade_in .program .bril .bril_block {
  width: 360px;
  height: 287px;
  position: absolute;
  top: 66px;
  left: 820px;
}
.trade_in .program .bril .bril_block .bril_big {
  font-size: 16px;
  color: white;
  line-height: 28px;
  opacity: 0.9;
}
.trade_in .op {
  width: 270px;
  height: 65px;
  border-radius: 50px;
  border: 1px solid orange;
  background-color: orange;
  position: relative;
  z-index: 4;
  top: 10px;
  left: 535px;
}
.trade_in .op h2.op_text {
  color: white;
  font-size: 25px;
}
.jj {
  height: 650px;
}
.jj .container {
  height: 650px;
  width: 1140px;
  margin: 0 auto;
  padding-top: 140px;
}
.jj .container h2.careful {
  font-size: 65px;
  color: #000000;
  opacity: 0.1;
}
.jj .container h2.zabota {
  font-size: 36px;
  color: #060606;
  text-transform: uppercase;
  margin-top: -57px;
  margin-left: 20px;
}
.jj .container .jj1 {
  width: 560px;
  height: 262px;
}
.jj .container .jj1 p.jj_big {
  font-size: 26px;
  margin-top: 15px;
  color: #000000;
  line-height: 40px;
  margin-left: 21px;
}
.jj .container .sloy7 .sloy7_img {
  height: 400px;
  margin-top: -424px;
  margin-left: 593px;
}
.otpravit {
  min-height: 566px;
  background: url(IMG_3643.png) no-repeat;
  position: relative;
  z-index: 4;
}
.otpravit .color1 {
  min-height: 566px;
  background-color: black;
  position: relative;
  z-index: 2;
  opacity: 0.5;
}
.otpravit h2.hh {
  font-size: 30px;
  color: #fff;
  position: absolute;
  z-index: 4;
  top: 126px;
  left: 169px;
}
.otpravit h2.hh1 {
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  z-index: 4;
  top: 204px;
  left: 176px;
  line-height: 27px;
}
.otpravit .name {
  width: 270px;
  height: 35px;
  border: 2px solid white;
  position: absolute;
  z-index: 4;
  top: 129px;
  left: 731px;
  background: none;
}
.otpravit .dd {
  width: 270px;
  height: 35px;
  border: 2px solid white;
  position: absolute;
  z-index: 4;
  top: 129px;
  left: 999px;
  background: none;
}
.otpravit .email {
  width: 538px;
  height: 35px;
  border: 2px solid white;
  position: absolute;
  z-index: 4;
  top: 162px;
  left: 731px;
  background: none;
}
.otpravit .ss {
  width: 538px;
  height: 170px;
  border: 2px solid white;
  position: absolute;
  z-index: 4;
  top: 195px;
  left: 731px;
  background: none;
}
.otpravit h2.svami {
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  z-index: 4;
  top: 378px;
  left: 742px;
}
.otpravit .send {
  border: 1px solid #FFAF3D;
  background: #FFAF3D;
  border-radius: 13px;
  width: 130px;
  height: 35px;
  position: absolute;
  z-index: 4;
  top: 381px;
  right: 78px;
}
.otpravit .ss1 {
  position: absolute;
  z-index: 4;
  top: 8px;
  left: 22px;
  color: white;
}
footer {
  height: 110px;
  background-color: orange;
  position: relative;
  z-index: 4;
}
footer .footer {
  height: 110px;
  background-color: black;
  position: relative;
  z-index: 2;
  opacity: 0.3;
}
@media screen and (max-width: 1440px) {
  .container .block6:after {
    left: 123px;
  }
  .logos {
    margin-left: 388px;
  }
  .adaptate .phone_img .macbook_img {
    left: 1203px;
  }
  .adaptate .phone_img .ipad_img {
    left: 963px;
  }
  .otpravit .send {
    right: 174px;
  }
}
@media screen and (max-width: 1224px) {
  .header {
    max-width: 100%;
  }
  .header .block2 {
    margin-left: 140px;
  }
  .header .block2 .block3 {
    border: 1px solid white;
    border-top: none;
    width: 252px;
    height: 161px;
    display: inline-block;
    position: relative;
    z-index: 4;
    margin-left: 47px;
    margin-top: 130px;
  }
  .header .block2 .block3:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 110px;
    margin-left: -10px;
    margin-top: -10px;
    background: white;
  }
  .header .block2 .block3:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 99px;
    margin-left: 143px;
    margin-top: -10px;
    background: #ffffff;
  }
  .block16 {
    margin-left: 90px;
  }
  .block23 .d {
    margin-left: -60px;
  }
  .block23 .logos {
    margin-left: 250px;
  }
  .block23 .apple_komp .third_komp {
    width: 26%;
    margin-right: -10px;
  }
  .block23 .four_komp {
    width: 27.5%;
  }
  .block25 .button {
    margin-left: 500px;
  }
  .block25 h5.butt {
    margin-left: 540px;
  }
  .trade_in .program .bril .bril_block h2.bril_big {
    font-size: 13px;
  }
  .otpravit .form .name {
    margin-left: -90px;
  }
  .otpravit .form .dd {
    margin-left: -90px;
  }
  .otpravit .form .email {
    margin-left: -90px;
  }
  .otpravit .form .ss {
    margin-left: -90px;
  }
  .otpravit .form h2.svami {
    margin-left: -90px;
  }
  .otpravit .send {
    margin-right: -30px;
  }
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: 100%;
  }
  .header .h11 {
    font-size: 30px;
  }
  .header .all {
    font-size: 18px;
  }
  .header .block2 .block3 {
    width: 150px;
    height: 110px;
    margin-left: 80px;
  }
  .header .block2 .block3:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 150px;
    margin-left: -10px;
    margin-top: -10px;
    background: white;
  }
  .header .block2 .block3:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 0px;
    margin-left: 143px;
    margin-top: -10px;
    background: #ffffff;
  }
  .header .block2 .block3 .h111 {
    text-align: center;
    font-size: 35px;
    margin-top: 0px;
    color: white;
  }
  .header .block2 .block3 .h3 {
    text-align: center;
    margin-top: 0px;
    color: white;
    font-size: 14px;
  }
  .header .block2 .block3 .favorite {
    margin-left: 60px;
    margin-top: -14px;
  }
  .we ul {
    margin-top: 40px;
    margin-left: 400px;
  }
  .we .a {
    text-decoration: none;
    color: black;
    display: inline;
  }
  .we .a:hover {
    color: #FFB54B;
  }
  .we li {
    list-style: none;
    display: inline;
    padding-left: 50px;
    font-size: 16px;
  }
  .container {
    width: 820px;
    height: 1000px;
    margin: 0 auto;
  }
  .container .block6 {
    height: 900px;
  }
  .container .block6:after {
    content: " ";
    top: 10px;
    left: 10px;
    height: 280px;
    width: 580px;
    background: url(we.png) no-repeat;
    margin-left: 353px;
    margin-top: 991px;
    position: absolute;
    z-index: 2;
    opacity: 0.2;
  }
  .container .h101 {
    margin-top: 200px;
    font-size: 38px;
  }
  .container .osnova {
    margin-left: 318px;
    margin-top: -100px;
    position: absolute;
    z-index: 4;
    opacity: 0.7;
    font-size: 15px;
    line-height: 28px;
  }
  .container .block7 {
    margin-top: 270px;
    margin-left: 0px;
  }
  .container .rocket {
    width: 30px;
    height: 58px;
  }
  .container .h5 {
    margin-top: 20px;
    font-size: 15px;
  }
  .container .you {
    opacity: 0.7;
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
  }
  .container .block8 {
    display: inline-block;
    vertical-align: top;
  }
  .container .block9 {
    display: inline-block;
    margin-left: 40px;
  }
  .container .block10 {
    border: 1px solid #f6ae48;
    background: #f6ae48;
    width: 250px;
    height: 280px;
    margin-left: 600px;
    margin-top: -255px;
    display: inline-block;
  }
  .container .serd {
    width: 54px;
    height: 44px;
    margin: 20px;
  }
  .container .h55 {
    color: white;
    margin-left: 20px;
    margin-top: -3px;
  }
  .container .h56 {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    line-height: 20px;
    font-size: 11px;
  }
  .container .block11 {
    border: 2px solid white;
    width: 102px;
    height: 20px;
    margin-left: 20px;
    margin-top: -23px;
  }
  .container .ot {
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 13px;
  }
  .container .right {
    width: 20px;
    height: 20px;
    margin-left: 211px;
    margin-top: 10px;
  }
  .block13 .kredo {
    font-size: 35px;
  }
  .block13 .want {
    font-size: 19px;
  }
  .block12 .block14 {
    width: 460px;
    height: 427px;
  }
  .block12 .block14:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 283px;
    width: 300px;
    background: url(settings48@1X.png) no-repeat;
    margin-left: -104px;
    opacity: 0.5;
  }
  .block12 .block14:after {
    content: " ";
    position: absolute;
    z-index: 2;
    top: 50px;
    left: -20px;
    height: 130px;
    width: 70px;
    background: url(cog2@1X.png) no-repeat;
    background-size: cover;
    margin-left: 410px;
    opacity: 0.5;
    margin-top: -50px;
  }
  .block16 .first {
    height: 200px;
    width: 233px;
  }
  .block16 .block15 {
    height: 200px;
    width: 233px;
  }
  .block16 .block15:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 150px;
    background: white;
    margin-top: 110px;
    margin-left: 47px;
    z-index: 4;
  }
  .block16 .block15:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    background: url(3.png) no-repeat;
    background-size: cover;
    margin-left: 200px;
    margin-top: 140px;
  }
  .block16 .block15 .second {
    width: 233px;
    height: 200px;
    margin-top: -205px;
  }
  .block16 .block15 h1.landing {
    font-size: 33px;
    margin-top: -185px;
    position: relative;
    z-index: 4;
  }
  .block16 .block15 .block17 {
    width: 130px;
    height: 40px;
    margin-top: 30px;
  }
  .block16 .block18 {
    margin-left: 10px;
    width: 233px;
    height: 200px;
  }
  .block16 .block18:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 160px;
    background: white;
    margin-top: 110px;
    margin-left: 292px;
    z-index: 4;
  }
  .block16 .block18:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    background: url(right.png) no-repeat;
    margin-left: 445px;
    margin-top: 140px;
  }
  .block16 .block18 .second2 {
    width: 233px;
    height: 200px;
    margin-top: -205px;
  }
  .block16 .block18 h1.landing {
    font-size: 33px;
    margin-top: -185px;
    position: relative;
    z-index: 4;
  }
  .block16 .block18 .block20 {
    width: 130px;
    height: 40px;
    margin-top: 70px;
  }
  .block16 .block19 {
    margin-left: 10px;
    width: 233px;
    height: 200px;
  }
  .block16 .block19:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 160px;
    background: white;
    margin-top: 110px;
    margin-left: 542px;
    z-index: 4;
  }
  .block16 .block19:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 60px;
    width: 60px;
    background: url(right.png) no-repeat;
    margin-left: 685px;
    margin-top: 145px;
  }
  .block16 .block19 .second1 {
    margin-top: -205px;
    width: 233px;
    height: 200px;
  }
  .block16 .block19 h1.landing {
    font-size: 33px;
    margin-top: -185px;
    position: relative;
    z-index: 4;
  }
  .block16 .block19 .block21 {
    width: 130px;
    height: 40px;
    margin-top: 30px;
  }
  .block22 .google {
    margin-left: 750px;
  }
  .block22 .fon {
    margin-left: 750px;
  }
  .block23 {
    width: 100%;
  }
  .block23 h2.our_project {
    margin-left: 300px;
  }
  .block23 .sa {
    width: 50%;
  }
  .block23 .d {
    width: 47%;
    margin-left: -140px;
  }
  .block23 .asc {
    width: 24%;
    margin-left: -516px;
  }
  .block23 .logos {
    width: 15%;
    margin-left: 245px;
    margin-top: -340px;
  }
  .block23 .apple_komp .third_komp {
    width: 23%;
    margin-right: -50px;
  }
  .block23 .four_komp {
    width: 28%;
    margin-right: 10px;
  }
  .block25 .button {
    margin-left: 400px;
  }
  .block25 h5.butt {
    margin-left: 430px;
  }
  .adaptate h3.adaptate_small {
    font-size: 50px;
    margin-left: 80px;
  }
  .adaptate h3.adaptive_text {
    font-size: 20px;
    margin-left: 130px;
    margin-top: -40px;
  }
  .adaptate .big_text {
    font-size: 20px;
    line-height: 35px;
    margin-left: 130px;
  }
  .adaptate .phone_img .iphone_img {
    width: 80px;
    height: 150px;
    margin-left: -200px;
    margin-top: 50px;
  }
  .adaptate .phone_img .ipad_img {
    width: 150px;
    height: 230px;
    margin-left: -240px;
    margin-top: 60px;
  }
  .adaptate .phone_img .macbook_img {
    width: 160px;
    height: 280px;
    margin-left: -300px;
    margin-top: 80px;
  }
  .trade_in h2.trade_rectangle {
    margin-left: -130px;
    font-size: 35px;
  }
  .trade_in .program .program1 .komp_fon {
    width: 50px;
    height: 40px;
    margin-top: 15px;
  }
  .trade_in .program .program1 h2.program1_text {
    font-size: 20px;
    margin-left: -20px;
  }
  .trade_in .program .program1 .program1_block h2.program1_big {
    font-size: 14px;
  }
  .trade_in .program .rabota .magni {
    width: 50px;
    height: 40px;
    margin-top: 15px;
    margin-left: -70px;
  }
  .trade_in .program .rabota h2.rabota_text {
    font-size: 20px;
    margin-left: -90px;
  }
  .trade_in .program .rabota .rabota_block h2.rabota_big {
    font-size: 14px;
    margin-left: -80px;
  }
  .trade_in .program .bril .diamond {
    width: 50px;
    height: 40px;
    margin-left: -190px;
  }
  .trade_in .program .bril h2.bril_text {
    font-size: 20px;
    margin-left: -210px;
  }
  .trade_in .program .bril .bril_block h2.bril_big {
    font-size: 12px;
    margin-left: -180px;
  }
  .trade_in .op {
    margin-left: -130px;
  }
  .jj {
    width: 450px;
  }
  .jj .container h2.careful {
    font-size: 50px;
    margin-left: 60px;
  }
  .jj .container h2.zabota {
    font-size: 26px;
    margin-top: -40px;
    margin-left: 85px;
  }
  .jj .container .jj1 p.jj_big {
    font-size: 18px;
    margin-left: 90px;
  }
  .jj .container .sloy7 .sloy7_img {
    width: 500px;
    height: 400px;
    margin-left: 500px;
    margin-top: -350px;
  }
  .otpravit h2.hh {
    font-size: 20px;
  }
  .otpravit h2.hh1 {
    font-size: 12px;
  }
  .otpravit .form .name {
    width: 200px;
    margin-left: -200px;
  }
  .otpravit .form .dd {
    width: 200px;
    margin-left: -270px;
  }
  .otpravit .form .email {
    width: 398px;
    margin-left: -200px;
  }
  .otpravit .form .ss {
    width: 398px;
    margin-left: -200px;
  }
  .otpravit .form h2.svami {
    font-size: 10px;
    margin-left: -200px;
  }
  .otpravit .send {
    width: 100px;
    height: 30px;
    margin-left: 0px;
  }
  .otpravit .send h3.ss1 {
    margin-left: -10px;
    margin-top: -3px;
  }
}
@media screen and (max-width: 768px) {
  .header .block2 {
    margin-left: 120px;
  }
  .header .block2 .block3 {
    width: 110px;
    height: 70px;
    margin-left: 50px;
    vertical-align: top;
  }
  .header .block2 .block3 .favorite {
    width: 30px;
    height: 30px;
    margin-left: 40px;
  }
  .header .block2 .block3 h1.h111 {
    font-size: 20px;
  }
  .header .block2 .block3:before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 105px;
    margin-left: -10px;
    margin-top: -10px;
    background: white;
  }
  .header .block2 .block3:after {
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    height: 1px;
    width: 0px;
    margin-left: 143px;
    margin-top: -10px;
    background: #ffffff;
  }
  .we ul {
    margin-left: 132px;
  }
  .container .block6:after {
    height: 261px;
    width: 439px;
    left: -95px;
  }
  .container .h101 {
    font-size: 33px;
    margin-left: 50px;
  }
  .container .block10 {
    margin-left: 509px;
    width: 25%;
    margin-top: -361px;
  }
  .container .block8 {
    margin-left: 23px;
    width: 25%;
  }
  .container .block9 {
    margin-left: 35px;
    width: 25%;
  }
  .block12 .img {
    height: 441px;
  }
  .block13 .kredo {
    font-size: 31px;
    padding-top: 99px;
  }
  .block13 .want {
    font-size: 16px;
  }
  .block12 .block14 {
    height: 420px;
    width: 350px;
  }
  .block12 .block14:after {
    left: -131px;
  }
  .block12 .block14 .razrabotka {
    font-size: 34px;
    margin-left: 23px;
  }
  .block16 .first {
    height: 150px;
    width: 194px;
  }
  .block16 .block15 .second {
    width: 195px;
    height: 150px;
    margin-top: -154px;
  }
  .block16 .block15 h1.landing {
    font-size: 18px;
    margin-top: -151px;
  }
  .block16 .block15 .block17 {
    width: 82px;
    height: 27px;
    margin-top: 49px;
  }
  .to {
    margin-top: 7px;
    font-size: 11px;
  }
  .block16 .block15:after {
    top: -24px;
    left: -31px;
  }
  .block16 .block15:before {
    top: -22px;
    width: 81px;
  }
  .block16 .block18 .second2 {
    width: 198px;
    height: 150px;
    margin-top: -154px;
  }
  .block16 .block18 {
    margin-left: -16px;
  }
  .block16 .block19 .second1 {
    margin-top: -150px;
    width: 197px;
    height: 150px;
  }
  .block16 .block18 h1.landing {
    font-size: 18px;
    margin-top: -150px;
  }
  .block16 .block18 .block20 {
    width: 89px;
    height: 26px;
    margin-top: 70px;
  }
  .block16 .block18:after {
    top: -25px;
    left: -47px;
    height: 40px;
    width: 40px;
  }
  .block16 .block19 h1.landing {
    font-size: 18px;
    margin-top: -150px;
  }
  .block16 .block19 .block21 {
    width: 88px;
    height: 28px;
    margin-top: 53px;
  }
  .block16 .block18:before {
    margin-top: 79px;
    margin-left: 266px;
    width: 87px;
  }
  .block16 .block19 {
    position: absolute;
    right: 1px;
  }
  .block16 .block19:before {
    width: 90px;
    top: -20px;
    margin-left: 44px;
  }
  .block16 .block19:after {
    margin-left: 161px;
    margin-top: 110px;
  }
  .container .you {
    font-size: 9px;
  }
  .container .rocket {
    width: 20px;
    height: 34px;
  }
  .container .serd {
    width: 32px;
    height: 25px;
  }
  .container .h56 {
    font-size: 9px;
  }
  .container .block11 {
    margin-top: -21px;
  }
  .container .right {
    margin-left: 168px;
    margin-top: 25px;
  }
  .container .osnova {
    font-size: 12px;
  }
  .be {
    font-size: 32px;
  }
  .perv {
    margin-left: 234px;
    margin-top: -29px;
    font-size: 19px;
  }
  .give {
    font-size: 12px;
    margin-left: 230px;
  }
  .block22 {
    height: 391px;
  }
  .container {
    height: 785px;
  }
  .block22 .google {
    margin-left: 590px;
    width: 100px;
    height: 100px;
    margin-top: -215px;
  }
  .block22 .fon {
    margin-left: 590px;
    width: 100px;
    height: 100px;
  }
  .project {
    font-size: 66px;
    margin-top: 10px;
  }
  .block23 h2.our_project {
    margin-left: 261px;
    font-size: 33px;
    margin-top: -58px;
  }
  .block23 .sa {
    height: 250px;
  }
  .block23 .d {
    width: 50%;
    margin-left: -288px;
    height: 250px;
  }
  .block23 .asc {
    width: 24%;
    margin-left: -388px;
    margin-top: 250px;
    height: 200px;
  }
  .logos .logo2 {
    width: 200px;
    height: 200px;
    margin-top: -208px;
  }
  .logos .orange {
    width: 200px;
    height: 200px;
  }
  .block23 .logos {
    margin-left: 183px;
    margin-top: -222px;
  }
  .logos .orange .rkb {
    top: 63px;
    left: 59px;
    font-size: 41px;
  }
  .logos .orange .autoservices {
    top: 108px;
    left: 43px;
  }
  .block23 .apple_komp .third_komp {
    width: 25%;
    height: 200px;
    margin-right: -157px;
    margin-top: -176px;
  }
  .block23 .four_komp {
    width: 25%;
    height: 200px;
    margin-right: 0;
    margin-top: -176px;
  }
  .block25 {
    margin-top: -450px;
  }
  .block25 .button {
    margin-left: 289px;
  }
  .block25 h5.butt {
    margin-left: 327px;
  }
  .adaptate {
    margin-top: -368px;
    min-height: 579px;
  }
  .adaptate h3.adaptate_small {
    font-size: 38px;
  }
  .adaptate h3.adaptive_text {
    font-size: 16px;
    margin-left: 115px;
    margin-top: -29px;
  }
  .adaptate .big_text {
    font-size: 13px;
    line-height: 28px;
    margin-left: 115px;
  }
  .adaptate .phone_img .ipad_img {
    width: 120px;
    height: 180px;
    margin-left: -476px;
    margin-top: 120px;
  }
  .adaptate .phone_img .iphone_img {
    width: 60px;
    height: 121px;
    margin-left: -361px;
    margin-top: 83px;
  }
  .adaptate .phone_img .macbook_img {
    width: 100px;
    height: 210px;
    margin-left: -577px;
    margin-top: 160px;
  }
  .trade_in h2.trade_rectangle {
    margin-left: -242px;
    font-size: 27px;
  }
  .trade_in .program .program1 .komp_fon {
    width: 40px;
    height: 30px;
  }
  .trade_in .program .program1 h2.program1_text {
    font-size: 13px;
    margin-left: -31px;
  }
  .trade_in .program .program1 .program1_block h2.program1_big {
    font-size: 9px;
    line-height: 20px;
  }
  .trade_in .program .rabota .magni {
    width: 40px;
    height: 30px;
    margin-left: -183px;
  }
  .trade_in .program .rabota h2.rabota_text {
    font-size: 13px;
    margin-left: -221px;
  }
  .trade_in .program .rabota .rabota_block h2.rabota_big {
    font-size: 9px;
    margin-left: -193px;
    line-height: 20px;
  }
  .trade_in .program .bril .diamond {
    width: 40px;
    height: 30px;
    margin-left: -400px;
  }
  .trade_in .program .bril h2.bril_text {
    font-size: 14px;
    margin-left: -435px;
  }
  .trade_in .program .bril .bril_block h2.bril_big {
    font-size: 9px;
    margin-left: -390px;
    line-height: 20px;
  }
  .trade_in .op {
    position: absolute;
    top: 450px;
    left: 446px;
    height: 40px;
    width: 170px;
  }
  .trade_in .op h2.op_text {
    font-size: 14px;
  }
  .jj .container h2.careful {
    font-size: 40px;
  }
  .jj .container h2.zabota {
    font-size: 19px;
    margin-top: -34px;
    margin-left: 90px;
  }
  .jj .container .jj1 p.jj_big {
    font-size: 14px;
    line-height: 30px;
  }
  .jj .container .sloy7 .sloy7_img {
    width: 270px;
    height: 270px;
    display: block;
    margin-top: -342px;
    margin-left: 410px;
  }
  .otpravit h2.hh {
    font-size: 17px;
    margin-left: -61px;
  }
  .otpravit h2.hh1 {
    margin-top: -33px;
    margin-left: -67px;
    font-size: 10px;
    line-height: 19px;
  }
  .otpravit .form .name {
    width: 150px;
    height: 25px;
    margin-left: -330px;
  }
  .otpravit .form .dd {
    width: 150px;
    height: 25px;
    margin-left: -450px;
  }
  .otpravit .form .email {
    width: 298px;
    height: 25px;
    margin-top: -10px;
    margin-left: -330px;
  }
  .otpravit .form .ss {
    width: 298px;
    height: 120px;
    margin-top: -20px;
    margin-left: -330px;
  }
  .otpravit .form h2.svami {
    font-size: 8px;
    margin-top: -74px;
    margin-left: -334px;
  }
  .otpravit .send {
    width: 80px;
    height: 20px;
    margin-top: -75px;
    margin-right: -105px;
  }
  .otpravit .send h3.ss1 {
    margin-top: -5px;
    font-size: 11px;
  }
}
@media screen and (max-width: 680px) {
  .header .h11 {
    font-size: 22px;
    padding-top: 150px;
  }
  .header .all {
    font-size: 14px;
  }
  .header .block2 .block3 {
    width: 92px;
    height: 63px;
    margin-left: 39px;
  }
  .header .block2 .block3:before {
    width: 91px;
  }
  .header .block2 .block3 .favorite {
    width: 25px;
    height: 25px;
    margin-left: 35px;
  }
  .header .block2 .block3 h1.h111 {
    font-size: 10px;
  }
  .header {
    height: 600px;
  }
  .block {
    height: 600px;
  }
  .we ul {
    margin-left: 68px;
  }
  .container .h101 {
    font-size: 21px;
  }
  .container .block6:after {
    background-size: contain;
    width: 300px;
    left: -125px;
    top: -164px;
  }
  .container .osnova {
    font-size: 9px;
    margin-left: 261px;
    margin-top: -65px;
    line-height: 20px;
  }
  .container .block10 {
    margin-left: 455px;
  }
  .block12 .block14:before {
    top: 54px;
    height: 183px;
    width: 200px;
    background-size: contain;
    margin-left: -63px;
  }
  .block12 .block14:after {
    height: 86px;
    width: 70px;
    margin-left: 429px;
  }
  .block16 .block15 .second {
    width: 165px;
    height: 120px;
    margin-top: -124px;
  }
  .block16 .first {
    height: 120px;
    width: 164px;
  }
  .block16 .block15 {
    margin-left: -32px;
    width: 166px;
    height: 120px;
  }
  .block16 .block15 h1.landing {
    font-size: 15px;
    margin-top: -126px;
  }
  .block16 .block15:before {
    top: -47px;
    width: 66px;
  }
  .block16 .block15 .block17 {
    width: 68px;
    height: 21px;
    margin-top: 39px;
  }
  .to {
    margin-top: 6px;
    font-size: 9px;
  }
  .block16 .block15:after {
    background-size: contain;
    top: -49px;
    left: -55px;
    height: 15px;
  }
  .block16 .block18 .second2 {
    width: 165px;
    height: 120px;
    margin-top: -124px;
  }
  .block16 .block18 {
    margin-left: 13px;
    width: 166px;
    height: 120px;
  }
  .block16 .block18 h1.landing {
    font-size: 15px;
    margin-top: -127px;
  }
  .block16 .block18:before {
    margin-top: 54px;
    margin-left: 197px;
    width: 71px;
  }
  .block16 .block18 .block20 {
    width: 75px;
    height: 22px;
    margin-top: 56px;
  }
  .block16 .block18:after {
    background-size: contain;
    top: -49px;
    left: -146px;
    height: 15px;
    width: 20px;
  }
  .block16 .block19 .second1 {
    margin-top: -123px;
    width: 165px;
    height: 120px;
  }
  .block16 .block19 {
    margin-right: 88px;
    width: 166px;
    height: 120px;
  }
  .block16 .block19:before {
    width: 75px;
    top: -46px;
  }
  .block16 .block19 h1.landing {
    font-size: 15px;
    margin-top: -127px;
  }
  .block16 .block19 .block21 {
    width: 78px;
    height: 22px;
    margin-top: 39px;
  }
  .block16 .block19:after {
    margin-left: 141px;
    margin-top: 80px;
    background-size: contain;
    width: 15px;
  }
  .block12 .block14 {
    height: 390px;
  }
  .project {
    font-size: 49px;
    margin-top: 25px;
  }
  .block23 h2.our_project {
    margin-left: 228px;
    font-size: 27px;
    margin-top: -48px;
  }
  .block23 .d {
    margin-left: -334px;
  }
  .block23 .apple_komp .third_komp {
    width: 23%;
    margin-right: -180px;
  }
  .logos .logo2 {
    width: 120px;
    height: 120px;
    margin-top: -174px;
    margin-left: 26px;
  }
  .logos .orange {
    width: 160px;
    height: 180px;
    margin-top: 28px;
  }
  .block23 .asc {
    width: 25.5%;
    margin-left: -344px;
    margin-top: 250px;
    height: 200px;
  }
  .logos .orange .rkb {
    font-size: 27px;
  }
  .logos .orange .autoservices {
    top: 91px;
    left: 43px;
    font-size: 19px;
  }
  .block25 .button {
    margin-left: 244px;
  }
  .block25 h5.butt {
    margin-left: 282px;
  }
  .adaptate h3.adaptate_small {
    font-size: 29px;
  }
  .adaptate h3.adaptive_text {
    font-size: 11px;
    margin-left: 109px;
    margin-top: -22px;
  }
  .adaptate .big_text {
    font-size: 10px;
    line-height: 23px;
    margin-left: 109px;
  }
  .adaptate .phone_img .iphone_img {
    width: 43px;
    height: 105px;
    margin-left: -427px;
    margin-top: 104px;
  }
  .adaptate .phone_img .ipad_img {
    width: 100px;
    height: 160px;
    margin-left: -559px;
    margin-top: 146px;
  }
  .adaptate .phone_img .macbook_img {
    width: 80px;
    height: 205px;
    margin-left: -662px;
    margin-top: 173px;
  }
  .trade_in .program .program1 {
    margin-left: -39px;
  }
  .trade_in .program .program1 h2.program1_text {
    font-size: 13px;
    margin-left: -75px;
  }
  .trade_in .program .rabota .rabota_block h2.rabota_big {
    margin-left: -235px;
    font-size: 8px;
  }
  .trade_in .program .rabota h2.rabota_text {
    margin-left: -264px;
    font-size: 13px;
  }
  .trade_in .program .bril .bril_block h2.bril_big {
    font-size: 8px;
    margin-left: -441px;
  }
  .trade_in .program .program1 .program1_block h2.program1_big {
    font-size: 8px;
  }
  .trade_in .program .bril .diamond {
    margin-left: -447px;
  }
  .trade_in .program .bril h2.bril_text {
    font-size: 13px;
    margin-left: -482px;
  }
  .trade_in .op {
    left: 398px;
  }
  .jj .container h2.careful {
    font-size: 32px;
  }
  .jj .container h2.zabota {
    font-size: 14px;
    margin-top: -26px;
  }
  .jj .container .jj1 p.jj_big {
    font-size: 11px;
    line-height: 23px;
  }
  .jj .container .sloy7 .sloy7_img {
    width: 210px;
    height: 210px;
    margin-top: -323px;
    margin-left: 363px;
  }
  .jj {
    height: 450px;
  }
  .trade_in h2.trade_rectangle {
    margin-top: 20px;
    margin-left: -288px;
  }
  .trade_in .trade_opacity {
    min-height: 575px;
  }
  .trade_in {
    min-height: 575px;
  }
  .trade_in .program {
    margin-top: -414px;
  }
  .otpravit h2.hh {
    font-size: 14px;
    margin-left: -83px;
  }
  .otpravit h2.hh1 {
    margin-top: -33px;
    margin-left: -85px;
    font-size: 8px;
    line-height: 18px;
  }
  .otpravit .form .name {
    width: 115px;
    height: 23px;
    margin-left: -392px;
  }
  .otpravit .form .dd {
    width: 115px;
    height: 23px;
    margin-left: -547px;
  }
  .otpravit .form .email {
    width: 228px;
    height: 23px;
    margin-top: -12px;
    margin-left: -392px;
  }
  .otpravit .form .ss {
    width: 228px;
    height: 113px;
    margin-top: -24px;
    margin-left: -392px;
  }
  .otpravit .form h2.svami {
    font-size: 6px;
    margin-top: -85px;
    margin-left: -394px;
  }
  .otpravit .send {
    width: 60px;
    height: 15px;
    margin-top: -87px;
    margin-right: -63px;
  }
  .otpravit .send h3.ss1 {
    margin-top: -6px;
    font-size: 8px;
  }
  .otpravit .color1 {
    min-height: 436px;
  }
  .otpravit {
    min-height: 436px;
  }
  footer .footer {
    height: 66px;
  }
  footer {
    height: 66px;
  }
}
@media screen and (max-width: 480px) {
  .header .h11 {
    font-size: 14px;
    padding-top: 220px;
  }
  .header .all {
    font-size: 12px;
  }
  .header .block2 {
    margin-left: 46px;
  }
  .header .block2 .block3:before {
    width: 79px;
  }
  .header .block2 .block3 .favorite {
    margin-left: 27px;
  }
  .header .block2 .block3 .h3 {
    font-size: 10px;
  }
  .block {
    height: 500px;
  }
  .header {
    height: 500px;
  }
  .header .block2 .block3 {
    width: 81px;
  }
  .we li {
    padding-left: 26px;
    font-size: 12px;
  }
  .container .h101 {
    font-size: 14px;
  }
  .container .osnova {
    font-size: 7px;
    margin-left: 193px;
    margin-top: -33px;
    line-height: 14px;
  }
  .container .block6:after {
    width: 250px;
    left: -198px;
    top: -238px;
  }
  .container .rocket {
    width: 14px;
    height: 21px;
  }
  .container .h5 {
    margin-top: 20px;
    font-size: 10px;
  }
  .container .you {
    font-size: 6px;
    line-height: 10px;
  }
  .container .block9 {
    margin-left: -55px;
  }
  .container .block10 {
    width: 17%;
    margin-left: 318px;
    margin-top: -161px;
    height: 180px;
  }
  .container .serd {
    width: 20px;
    height: 22px;
  }
}
